@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: theme('colors.neutral.800');
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.neutral.700');
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.neutral.800') transparent;
  }
}